.Projects{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.Projects__article1{
    padding-bottom: 60px;
}
.Projects__article1__title{
    height: 40px;
    font-size: 56px;
    max-width: 474px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 10px 0px;
    padding-left: 10px;
}
.Projects__article1__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Projects__article1__block__text{
    font-size: 18px;
}
.Projects__article1__block__btn{
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 99rem;
    color: #fff;
    border: none;
}
.Projects__article1__block__link{
    color: #fff;
    text-decoration: none;
}
.Projects__article2{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.Projects__article2__block{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 100%
}
.Projects_a{
    max-height: 340px;
    max-width: 590px;
    width: 100%;
    height: 100%;
}
.Projects__article2__block__img{
    max-height: 340px;
    max-width: 570px;
    width: 100%;
    height: 100%;
    padding: 7px;
    border: 1px solid rgb(224, 221, 221);
}
.Projects__article2__block__img:hover{
    transition: 0.5s;
    transform: scale(0.98);
}

.Projects__article2__block__section1{
    display: flex;
    gap: 10px;
}
.Projects__article2__block__section1__text{
    padding: 8px 16px;
    border: 1px solid ;
    border-radius: 99rem;
}
.Projects__article2__block__section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Projects__article2__block__section2__title{
    padding-top: 10px;
    font-size: 24px;
    margin: 0;
}
.Projects__article2__block__section2__button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 99rem;
    cursor: pointer;
    font-size: 18px;
    transform: rotate(330deg);
    transition: 0.5s;
}
.Projects__article2__block__section2__button:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}
@media(max-width:1300px){
    .Projects__article2__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .Projects__article2__block__section2 {
        width: 62%;
        min-width: 570px;
    }
}
@media(max-width:1200px){
    .Projects__article1__block__text {
        margin-right: 30px;
    }
    .Projects__article1__block__btn {
        height: 56.80px;
        font-size: 15px;
        width: 147px;
    }
}
@media(max-width:950px){
    .Projects__article2__block__section2 {
        width: 100%;
        min-width: initial;
    }
    .Projects__article2__block__img {
        max-height: 340px;
        max-width: 570px;
        width: 96%;
    }
    .Projects {
        padding-bottom: 200px;
    }
}
@media(max-width:900px){
    .Projects__article2__block__section2 {
        width: 62%;
        min-width: 570px;
    }
}
@media(max-width:635px){
    .Projects__article2__block__section2 {
        width: 100%;
        min-width: initial;
    }
}
@media(max-width:560px){
    .Projects__article1__title {
        font-size: 48px;
        padding-left: 0px;
    }
    .Projects__article2__block__section1 {
        flex-wrap: wrap;
    }
    .Projects__article2__block__section1__text {
        font-size: 14px;
    }
}
@media(max-width: 460px) {
    .Projects__article1__title {
        font-size: 36px;
    }
    .Projects__article1__block__text {
        font-size: 16px;
    }
}