.ProjectPortfolio {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    padding-bottom: 60px;
}
/*  */
.ProjectPortfolio__AllBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.ProjectPortfolio__AllBlock__div{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 100%
}
.ProjectPortfolio__AllBlock__div__a{
    max-height: 340px;
    max-width: 590px;
    width: 100%;
    height: 100%;
}
.ProjectPortfolio__AllBlock__div__img{
    max-height: 340px;
    max-width: 570px;
    width: 100%;
    height: 100%;
    padding: 7px;
    border: 1px solid rgb(224, 221, 221);
}
.ProjectPortfolio__AllBlock__div__img:hover{
    transition: 0.5s;
    transform: scale(0.98);
}

.ProjectPortfolio__AllBlock__div__article1{
    display: flex;
    gap: 10px;
}
.ProjectPortfolio__AllBlock__div__article1__text{
    padding: 8px 16px;
    border: 1px solid ;
    border-radius: 99rem;
}
.ProjectPortfolio__AllBlock__div__article2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ProjectPortfolio__AllBlock__div__article2__title{
    padding-top: 10px;
    font-size: 24px;
    margin: 0;
}
.ProjectPortfolio__AllBlock__div__article2__button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 99rem;
    cursor: pointer;
    font-size: 18px;
    transform: rotate(330deg);
    transition: 0.5s;
}
.ProjectPortfolio__AllBlock__div__article2__button:hover{
    transition: 0.5s;
    transform: rotate(360deg);
}
@media(max-width:1300px){
    .ProjectPortfolio__AllBlock__div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .ProjectPortfolio__AllBlock__div__article2 {
        width: 62%;
        min-width: 570px;
    }
}
@media(max-width:1060px){
    .aboutPortfolio {
        width: 97%;
        margin: auto;
    }
    .aboutPortfolio__text {
        font-size: 16px;
        width: auto;
    }    
    .aboutPortfolio__title {
        font-size: 29px;
        width: auto;
    }
}
@media(max-width:950px){
    .ProjectPortfolio__AllBlock__div__article2 {
        width: 100%;
        min-width: initial;
    }
    .ProjectPortfolio__AllBlock__div__img {
        max-height: 340px;
        max-width: 570px;
        width: 96%;
    }
    .Projects {
        padding-bottom: 200px;
    }
}
@media(max-width:900px){
    .ProjectPortfolio__AllBlock__div__article2 {
        width: 62%;
        min-width: 570px;
    }
    .ProjectPortfolio__AllBlock__div {
        align-items: center;
    }
}
@media(max-width:635px){
    .ProjectPortfolio__AllBlock__div__article2 {
        width: 100%;
        min-width: initial;
    }
}
@media(max-width:560px){
    .Projects__article1__title {
        font-size: 48px;
        padding-left: 0px;
    }
    .ProjectPortfolio__AllBlock__div__article1 {
        flex-wrap: wrap;
    }
    .ProjectPortfolio__AllBlock__div__article1__text {
        font-size: 14px;
    }
}
@media(max-width: 460px) {
    .Projects__article1__title {
        font-size: 36px;
    }
    .ProjectPortfolio__AllBlock__div__article1__text {
        font-size: 16px;
    }
}